.App {
  flex-direction: column;
}

.header {
  flex: 0 0 70px;
  height: 70px;
  background: #ffffff;
  box-shadow: var(--panel-shadow);
  padding: 0 20px;

  display: flex;
  align-items: center;
}

.header-icon {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.header-title {
  font-weight: 600;
  color: var(--text-color);
}

.header-links {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-link {
  display: flex;
  text-decoration: none;
  color: #878C96;
  padding: 0 10px;
  height: 70px;
  line-height: 70px;
  font-size: 15px;
  font-weight: 500;
}

.header-link-active {
  color: var(--text-color);
  border-bottom: 2px solid #1BCDAE;
  background: linear-gradient(180deg, rgba(255,255,255,0) 50%, rgba(27,205,174,0.1) 100%);
}

.header-controls {
  display: flex;
  align-items: center;
}

.header-buttons {
  display: flex;
}

.header-buttons button {
  margin-left: 10px;
}

.content {
  display: flex;
  padding: 10px;
}

.left {
  flex: 0 0 600px;
  width: 600px;

  display: flex;
  flex-direction: column;
}

.middle {
  flex: 1;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.right {
  flex: 0 0 500px;
  width: 500px;

  display: flex;
  flex-direction: column;
}

.container {
  margin: 10px;
  background: #ffffff;
  box-shadow: var(--panel-shadow);
  border-radius: 15px;
  overflow: hidden;
}

.container table {
  margin: 20px;
  margin-top: 0px;
  width: calc(100% - 10px);
}

.container canvas {
  margin: 20px;
  width: 100%;
}

.container-header {
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  border-bottom: 1px solid #F1F1F1;
  margin-bottom: 20px;
}

#candle-canvas {
  height: 250px;
}

.code-container {
  flex: 0 0 600px;

  display: flex;
  flex-direction: column;
}

#code-editor {
  flex: 1;
  width: 100% !important;
  height: 100% !important;
}

#balance-canvas {
  height: 200px;
}

.controls {
  flex: 0 0 200px;
  height: 200px;
  padding: 20px;
}

.control-buttons {
  display: flex;
}

.control-buttons button {
  flex: 1;
}

.control-buttons button:first-child {
  margin-right: 20px;
}

.controls select {
  width: 100%;
  margin-top: 20px;
}

.trades {
  flex: 0 0 400px;
  font-size: 14px;

  overflow-y: auto;
}

.trade {
  cursor: pointer;
}

.trade:hover {
  background: #cccccc;
}

.correlation th, .correlation td:first-child {
  font-weight: bold;
  font-size: 11px;
}

button {
  background: var(--primary-color);
  border-radius: 33px;
  padding: 0 20px;
  border: none;
  height: 30px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button .material-icons-round {
  font-size: 18px;
}

button:hover {
  background: var(--primary-dark-color);
}

input[type='text'], input[type='number'] {
  outline: none;
  height: 30px;
  border-radius: 33px;
  border: 1px solid #cccccc;
  padding-left: 10px;
  font-family: Poppins;
  font-size: 14px;
}

select {
  outline: none;
  height: 30px;
  border-radius: 33px;
  border: 1px solid #cccccc;
  padding-left: 10px;
  font-family: Poppins;
  font-size: 14px;
}

.progress {
  flex: 0 0 300px;
  width: 300px;
  position: relative;
  background: #EAEAEC;
  height: 4px;
  border-radius: 2px;
  margin: 0 20px;
}

.progress-bar {
  height: 4px;
  background: var(--primary-color);
  border-radius: 2px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.progress-text {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color);
  width: 50px;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
  font-size: 12px;
}

td {
  padding: 2px;
  font-size: 12px;
}

td:first-child {
  font-family: Poppins;
}

.ace_editor, .ace-xcode .ace_gutter {
  background: #ffffff;
}

.code-controls {
  padding: 10px;
  display: flex;
}

.code-controls button {
  margin-left: 10px;
}

.code-controls input[type='text'] {
  flex: 1;
  margin-left: 10px;
}

.text-profit {
  /*color: #26A69A;*/
}

.text-loss {
  color: #EF5350;
}

*::-webkit-scrollbar {
  background-color:#fff;
  width:16px
}

*::-webkit-scrollbar-track {
  background-color:#fff
}
*::-webkit-scrollbar-track:hover {
  background-color:#f4f4f4
}

*::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
  border:5px solid #fff;
  min-height: 40px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color:#a0a0a5;
  border:4px solid #f4f4f4
}

*::-webkit-scrollbar-button {display:none}