@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap');

html, body, #root, .App {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  width: 100vw;
  height: 100vh;

  display: flex;

  background: #f8f8f8;
}

* {
  box-sizing: border-box;
}